<h1>All Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Comment Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each_with_index do |task, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= task.name.titleize %></td>
        <td><%= task.content %></td>
        <td style="color: <%= ['red', 'blue', 'green'].sample %>">
          <% task.comments.find_each do |comment| %>
            <%= comment.note %> <br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Task", new_task_path %>
