<h1>New Task</h1>

<%= form_with model: @task do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <fieldset>
    <legend>Comments:</legend>
    <%= form.fields_for :comments do |comments_form| %>
      <%= render "comment_fields", f: comments_form %>
    <% end %>
    <%= link_to_add_fields "Add Comments", form, :comments %>
  </fieldset>

  <%= form.submit "Create" %>
<% end %>
